# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# krita
*-autosave.kra

# Files from Forge MDK
forge*changelog.txt
/run-data/
